@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #181818;
  color: #fff;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

#wrapper {
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}

#right {
  flex: 1;
}

/* Sign In */
#signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

#signin form{
  width: 80%;
  padding-bottom: 20px;
}

#signin .logo {
  margin-bottom: 8vh;
}

#signin .logo img {
  width: 300px;
}

#signin label{
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

#signin .text-input{
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: #181818;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}
#signin .text-input:hover{
  background-color: rgb(29, 28, 28);

}

#signin .primary-btn {
  margin-top: 10px;
  width: 100%;
}

#signin .quote{
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Showcase */
#showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Footer */
#main-footer {
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 0rem;
}

#main-footer a {
  color: #EB4D4B;
  text-decoration: underline;
}

/* Right */
.container {
  position: relative;
  max-width: 80%; 
  margin: 0 auto;
}

.container .content {
  position: absolute; 
  top: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.8); 
  width: 100%; 

}

.content h1{
  margin-bottom: 0;
  color: red;
  padding-top: 30px;
}
.content h2{
  text-decoration: underline;
  margin-bottom: 33px;
  font-family: 'Roboto', sans-serif;
}

.content label{
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.content .text-input{
  margin-bottom: 0.6rem;
  width: 40%;
  border-radius: 2px;
  background: #181818;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.4rem 1rem;
  line-height: 1.3rem;
}

.content .text-input:hover{
  background-color: rgb(29, 28, 28);

}

/* Button */
.primary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background:#FF0000;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.primary-btn:hover {
  background-color: #EB4D4B;
}

.createform .create-btn{
  margin: 20px auto 0 auto;
  width: 150px;
  padding: 0.6rem 1rem;
  height: 2.7rem;
  background-color: transparent;
  border: 1px solid;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  margin-bottom: 20px;
}

.create-btn:hover {
  border-color: rgb(235, 69, 69);
  color: #fff;
  background-color: red;
}

/* Media Queries */
@media (min-width: 1200px) {
  #left {
    flex: 4;
  }

  #right {
    flex: 6;
  }
}

@media (max-width: 900px) {
  body {
    overflow: auto;
  }

  #wrapper {
    display: flex;
    flex-direction: column;
  }

  #left {
    justify-content: start;
    margin-top: 4vh;
    margin-left: 0;
  }

  #signin .logo {
    margin-bottom: 2vh;
    
  }

  #signin .text-input {
    margin-bottom: 0.7rem;
  }

  #main-footer {
    padding-top: 1rem;
  }
}

.mainpage{
  text-decoration: none;
}